body {
    background-image: url('https://i.redd.it/f0mpjw4ddzv41.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

#score {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-top: 3px;
}

#score h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em;
}

#day-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.day {
    background-color: grey;
    width: 60px;
    height: 60px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.7;
    border-radius: 15px;
}

#activity0, #activity1, #activity2, #activity3, #activity4, #activity5, #activity6, #activity7, #activity8 {
    opacity: 1;
}

#activity0 {
    background-color: hwb(130 17% 70% / 0.7);
}

#activity1 {
    background-color: hwb(130 17% 62% / 0.73);
}

#activity2 {
    background-color: hwb(130 17% 54% / 0.76);
}

#activity3 {
    background-color: hwb(130 17% 46% / 0.79);
}

#activity4 {
    background-color: hwb(130 17% 38% / 0.82);
}

#activity5 {
    background-color: hwb(130 17% 30% / 0.85);
}

#activity6 {
    background-color: hwb(130 20% 22% / 0.9);
}

#activity7 {
    background-color: hwb(130 20% 14% / 0.95);
}

#activity8 {
    background-color: hwb(130 20% 6% / 1);
}