body {
    background-image: url('https://i.redd.it/f0mpjw4ddzv41.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

#score {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 7px;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 3px;
    padding-top: 3px;
}

#score h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em;
}

#day-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.day {
    background-color: grey;
    width: 60px;
    height: 60px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.7;
    border-radius: 15px;
}

#activity {
    background-color: rgba(36, 35, 35, 0.774);
    opacity: 0.7;
}

#activity1 {
    background-color: #196927;
    opacity: 0.9;
}

#activity2 {
    background-color: #218732;
    opacity: 0.9;
}

#acitivity3 {
    background-color: #28A53D;
    opacity: 0.9;
}

#activity4 {
    background-color: #2FC248;
    opacity: 0.9;
}