body {
    background-image: url('https://i.redd.it/f0mpjw4ddzv41.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    height: 100%;
}

#score {
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

#score h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em;
}

#day-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.day {
    background-color: grey;
    width: 60px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    opacity: 0.7;
    border-radius: 15px;
}