<!DOCTYPE html>
<html>
    <head>
        <title>Scoretalley</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div id="score">
            {% for row in data %}
                <div id="day-container">
                    {% for time in row %}
                        <div class="day" id="activity{{ time.activitylevel }}" data-time="{{ time.value }}"><p>{{ time.humanTime }}</p></div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const days = document.querySelectorAll('.day');
 

                // Reload the page every hour (3600000 milliseconds)
                setInterval(function() {
                    location.reload();
                }, 3600000);

                
                /*
                days.forEach(day => {
                    const time = parseFloat(day.getAttribute('data-time'));
                    let red, green, blue;
        
                    if (time === 0) {
                        // Color for value 0
                        red = 23;
                        green = 28;
                        blue = 2;
                    } else if (time > 0 && time < 4) {
                        // Color transition from rgb(13, 62, 37) to rgb(55, 206, 80)
                        red = 13 + (42 * (time / 4));
                        green = 62 + (144 * (time / 4));
                        blue = 37 + (43 * (time / 4));
                    } else {
                        // Color for value >= 4
                        red = 55;
                        green = 206;
                        blue = 80;
                    }
        
                    day.style.backgroundColor = `rgb(${red}, ${green}, ${blue})`;
                });
                */
                
                document.addEventListener('keydown', function(event) {
                    if (event.key === 'q' || event.key === 'Q') {
                        window.location.href = 'add-day';
                    }
                });
            });
        </script>
    </body>
</html>